# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
.pytest_cache/

.venv/
backend/.venv/

# Environment variables
.env
backend/.env
frontend/.env

# Databases
*.db
researchiq.db
backend/researchiq.db

# ==========================
# Uploads
# ==========================
uploads/*
!uploads/.gitkeep

backend/uploads/*
!backend/uploads/.gitkeep

# ==========================
# Vector store (future RAG)
# ==========================
vector_store/
*.faiss
*.index
*.pkl

# ==========================
# Frontend
# ==========================
node_modules/
frontend/node_modules/

dist/
frontend/dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db